/*Arquivo estilo.css menul centralizado */
*{
	margin: 0px;
	padding: 0px;
}

body{	font-family: "Arial";
		background-color: #C5E6C1;
	}
a{ text-decoration: none; /*tira sublinhado do link*/
	color: #000;
	text-transform: uppercase; /*transforma texto do link em maiúsculo*/ 
	}
a:hover{ }

#all{
			width: 1100px;
			height: 80px;
			line-height: 80px; /* centraliza na vertical */ /* background-color: #flflfl; teste essa cor */
			background-color: #C5E6C1;
			border: 0px ;
			margin: 0 auto;
		}
 ul.menu{
			text-align: center; /* centraliza na horizontal */
		}
ul.menu li{
			display: inline-block; /* centraliza na horizontal */
			margin: 0px 5px;
		}
ul.menu li a{
	
			background-color: #80c94f;
			border-radius: 6px; /*bordas arredondadas*/
			padding: 6px 10px;
			color: #fff;
}
ul.menu li a:hover{
			background-color: #caffab; /* teste essa cor
			/*background-color: #00FFFF;*/
}
textarea{resize: none;
}